* {
  margin: 0;
}

body {
  background-image: url("../images/background.webp");
  background-attachment: fixed;
  background-size: cover;
}

.hidden {
  display: none;
}

h1 {
  font-size: 45px;
  font-family: "Bowlby One SC", cursive;
  text-shadow: #ffd900 1px 1px, #ffd900 -1px 1px, #ffd900 -1px -1px,
    #ffd900 1px -1px;
}

h2 {
  font-size: 15px;
  font-family: "Bebas Neue", cursive;
}

a {
  padding: 10px;
  margin: 5px;

  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

button {
  width: 100px;
  height: 40px;
  margin-left: 100px;
  margin-right: 100px;
  height: 50px;
  color: rgb(255, 196, 0) !important;
  text-transform: uppercase;
  background: #b4151c;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-align: center;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

button:hover {
  background: rgba(0, 0, 0, 0.449);
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#miniature_1 {
  width: 300px;
  position: absolute;
top: 25px;
left: 130px;
}

#miniature_2 {
  width: 200px;
  height: 300px;
  position: absolute;
  
  top: -20px;
  left: 1180px;
}

#header_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_container img {
  width: 400px;
}

#characters_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#characters_names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;

  width: 35vw;
  height: 60vh;

  background-color: rgba(0, 0, 0, 0.449);

  border: 4px outset rgba(210, 9, 9, 0.82);
  border-radius: 24px 24px 24px 24px;
}

#characters_names p {
  color: white;
  font-size: 30px;
}

#characters_names p:hover {
  color: rgb(255, 196, 0);
  cursor: help;
}

#characters_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;

  width: 35vw;
  height: 60vh;

  background-color: rgba(0, 0, 0, 0.449);

  border: 4px outset rgba(210, 9, 9, 0.82);
  border-radius: 24px 24px 24px 24px;
}
